// Header


header {
	width: 100%;
  	background-image: url("../img/an_01.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  	height: 800px;
}

.main-header{
	overflow: hidden;
  	background: rgba(0, 0, 0, .2);	
  	border-bottom: 1px solid #939396;
}
