// Buttons

button {
	width: 70%;
	color: #fff;
	height: 50px;
	background-color: transparent;
	border: 1px solid #fff;
}

button:hover {
	width: 70%;
	color: #000;
	height: 50px;
	background-color: #fff;
	border: none;
}