//Navegation


.main-nav {
  float: right;
  margin-right: 50px;

}

.sub-nav {
  margin-left: 50px;

}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-nav li {
  display: inline;
    float: left;
}

.main-nav li a {
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

//footer navegation 
